.DS_Store
.claude
.devenv*
.direnv/
.env
.env.*
!.env.example
!.env.test
.mcp.json
.pre-commit-config.yaml
.svelte-kit
*.log
build/
devenv.local.nix
devenv.local.yaml
node_modules/
src-tauri/gen/schemas
target/
Thumbs.db
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
