@import '../src/routes/layout.css';

@layer base {
	body {
		@apply overflow-auto bg-background select-auto;
		animation: fadeIn 150ms ease-out;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
